<div class="header">
  <button (click)="returnToHomePage()">Home</button>
  <input type="file" accept="image/*" (change)="exibirImagemSelecionada($event)">
</div>

<div class="content">
  <div class="left">
    <div *ngIf="imagemSelecionadaUrl" class="imagem-container">
      <img class="imagem-selecionada" [src]="imagemSelecionadaUrl" alt="Imagem Selecionada">
    </div>
  </div>
  
  <div class="right">
    <div class="detectar-button-container">
      <button (click)="detectarEstenografia()">Detectar Imagem Selecionada</button>
    </div>
    
    <div *ngIf="statusMolder !== undefined" class="status-container" [ngClass]="{'vermelho': statusMolder?.status, 'verde': !statusMolder?.status}">
      <h3>Status da Detecção de Esteganografia:</h3>
      <p>Status: {{ statusMolder?.status }}</p>
      <p>Mensagem: {{ statusMolder?.msg }}</p>
    </div>
  </div>
</div>
