<h1>Esconder Arquivo BAT</h1>
<label for="batFile">Selecione um arquivo BAT:</label>
<input type="file" id="batFile" accept=".bat" (change)="onBatFileChange($event)" required>
<br>
<label for="imageFile">Selecione uma imagem:</label>
<input type="file" id="imageFile" accept="image/png, image/jpeg" (change)="onImageFileChange($event)" required>
<br>
<br>
<button (click)="onSubmit()">Esconder</button>

<div *ngIf="imageUrl">
  <button (click)="downloadImage()">Baixar Imagem com BAT</button>
</div>
