# Arquivos de configuração do ambiente
node_modules/
dist/
*.log

# Arquivos de compilação e construção
build/

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração do editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
